# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

*.d
*.obj             # 目标文件（Windows 风格）
# *.axf             # ELF 格式可执行文件（含调试信息）
# *.hex             # HEX 烧录文件
*.bin             # 二进制镜像文件
# *.map             # 内存映射文件（链接生成）
*.lst             # 汇编列表文件（编译生成
*.dep
*.htm
*.crf
*.o